<ion-header>
    <ion-toolbar class="header">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/menu-tabs/danh-muc/lop/{{maLop}}" color="light"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Đăng Kí Thi Xếp Lớp</ion-title>
      <!-- <ion-buttons slot="end">
        <ion-button color="secondary" (click)="logout()">
          <ion-icon slot="icon-only" name="exit"></ion-icon> 
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-card>
      <form  #userForm="ngForm" *ngIf="!userForm"  (ngSubmit)="onFormSubmit(userForm.value)" novalidate>
          <ion-grid>
            <ion-row >
              <ion-col  size-md="6" size-lg="5" size-xs="12">
                <div >
                  <ion-label >Họ và Tên: </ion-label>
                  <ion-item>
                    <ion-input name="username" type="text" #isName="ngModel" 
                                         [class.is-invalid]="isName.invalid && isName.touched" class="form-control is-invalid"  [(ngModel)]="trangDangKi.username" required readonly></ion-input>          
                  </ion-item>
                  <br>
                  <ion-label >Tên khóa: </ion-label>
                  <ion-item>
                    
                    <ion-input name="tenKhoa" type="text" class="form-control" [(ngModel)]="trangDangKi.tenKhoa" required readonly></ion-input>
                  </ion-item>
                  <br>
                  <ion-label >Tên lớp: </ion-label>
                  <ion-item>
                    
                    <ion-input name="tenLop" type="text" class="form-control"  [(ngModel)]="trangDangKi.tenLop" required readonly></ion-input>
                  </ion-item>
                  <br>
                  <ion-label >Số điện thoại: </ion-label>
                 
                  <ion-item>
                    
                    <ion-input name="SDT" type="tel" class="form-control"  [(ngModel)]="trangDangKi.SDT" required readonly></ion-input>
                  </ion-item>
                  
                </div>
                <br>
                <br> 
      
                <div >
                  <ion-button    shape="round" type="submit" [disabled]="userForm.invalid" expand="block">Đăng kí</ion-button>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
  </ion-card>
</ion-content>
