<ion-header>
  <ion-toolbar class="header">
    <ion-buttons slot="start" >
      <ion-back-button defaultHref="/menu-tabs/hoc-tap/segment/{{maLop}}" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title  color="light">Nhận Xét</ion-title>
  </ion-toolbar>
</ion-header> 
 
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-list *ngFor="let nhanxet of layNhanXet">
          <ion-card>
            <ion-card-title>Tiêu đề: {{nhanxet.tieuDeNX}}</ion-card-title>
            <ion-card-content>
              <h2 >Học viên: {{nhanxet.tenHocVien}} {{nhanxet.nhanXet}}</h2>
              <h2 >{{nhanxet.ketThucNX}}</h2>
              <h2 class="TG">{{nhanxet.thoiGianNX}}</h2>
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row> 
  </ion-grid>
</ion-content>
